SUPABASE_URL
SUPABASE_SERVICE_ROLE_KEY
AI_CASE_CRON_USER_ID
AI_PROVIDER_ORDER
AI_PROVIDER_TIMEOUT_MS
AI_PROVIDER_COOLDOWN_SECONDS
GOOGLE_GENAI_API_KEY
GOOGLE_GENAI_MODELS
NVIDIA_API_KEY
NVIDIA_AI_BASE_URL
NVIDIA_AI_MODELS
CEREBRAS_API_KEY
CEREBRAS_AI_BASE_URL
CEREBRAS_AI_MODELS
COHERE_API_KEY
COHERE_AI_BASE_URL
COHERE_AI_MODELS
ZAI_API_KEY
ZAI_AI_BASE_URL
ZAI_AI_MODELS
